{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input class="form-control" autofocus name="oldpass" placeholder="Old password"  type="password">
        </div>
        <div class="form-group">
            <input  class="form-control" name="newpass" placeholder="New password" type="password">
        </div>
        <div class="form-group">
            <input name="confirmation"  class="form-control" placeholder="New password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}